@import "./base.css";

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    place-items: top;
    width: 100%;
  }

  #app {
    padding: 0 0;
  }
}

main {
  margin-top: 12vh !important;
}

@media (max-width: 768px) {
  main {
    margin-top: 7vh !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  main {
    margin-top: 8.6vh !important;
  }
}

.card {
  --bs-card-spacer-y: 0.35rem;
  --bs-card-title-spacer-y: 0;
  --bs-card-spacer-x: 0;
  z-index: 0;
  max-height: 15rem;
  transition: transform 0.2s 0s ease-in-out, z-index 0s 100ms;
  -webkit-transition: transform 0.2s 0s ease-in-out, z-index 0s 100ms;
  -moz-transition: transform 0.2s 0s ease-in-out, z-index 0s 100ms;
  -o-transition: transform 0.2s 0s ease-in-out, z-index 0s 100ms;
  -ms-transition: transform 0.2s 0s ease-in-out, z-index 0s 100ms;
}

.carousel {
  touch-action: pan-y pinch-zoom !important;
}

.home_carousel .carousel-inner img {
  object-fit: cover;
  height: 15rem;
}

.card:hover {
  transform: scale(1.25);
  z-index: 999;
  transition: transform 0.2s 0s ease-in-out, z-index 0s 0s;
  -webkit-transition: transform 0.2s 0s ease-in-out, z-index 0s 0s;
  -moz-transition: transform 0.2s 0s ease-in-out, z-index 0s 0s;
  -o-transition: transform 0.2s 0s ease-in-out, z-index 0s 0s;
  -ms-transition: transform 0.2s 0s ease-in-out, z-index 0s 0s;
}

.card:hover .carousel-inner img {
  object-fit: contain;
}

.card-title {
  text-align: center;
}

.carousel,
.badge,
.navbar-brand,
.custom-card-title,
.offcanvas {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Standard */
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.offcanvas-header {
  padding-bottom: 0 !important;
}

.offcanvas-body {
  padding-top: 0 !important;
}

.detail_carousel .carousel-inner img {
  object-fit: contain;
  max-width: 75%;
  margin: auto !important;
}

.detail_carousel .carousel {
  width: 100%;
}

.detail_carousel .carousel-inner {
  height: 100%;
}

.detail_carousel .carousel-item {
  display: flex !important;
  height: 100%;
}

.detail_carousel .carousel-indicators {
  bottom: -5vh;
}

/* Disgusting but i couldn't figure out to scale image otherwise, its a nightmare to modify that thing */
/* ( */
@media (max-width: 768px) {
  .detail_carousel .carousel-inner img {
    max-height: 29vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .detail_carousel .carousel-inner img {
    max-height: 40vh;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .detail_carousel .carousel-inner img {
    max-height: 50vh;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .detail_carousel .carousel-inner img {
    max-height: 60vh;
  }
}

@media (min-width: 1400px) {
  .detail_carousel .carousel-inner img {
    max-height: 60vh;
  }
}
/* ) */
